.markdown-body,
.markdown-body pre code {
  font-family: Consolas, "微软雅黑";
}

.markdown-body pre  {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

.markdown-body {
  ul,
  ol {
    list-style-type: disc;
    ul,
    ol {
      list-style-type: circle;
    }
  }
}
.hljs {
  font-family: Consolas, "微软雅黑";
}
